<footer
  class="text-center text-white"
  style="background-color: rgb(0, 128, 78)"
>
  <!-- Grid container -->
  <div class="container">
    <hr class="my-5" />

    <!-- Section: Social -->
    <section class="text-center mb-5" id="socialNetworks">
      <a href="" class="text-white me-4">
        <img src="assets/images/img/face.png" alt="" />
      </a>

      <a href="" class="text-white me-4">
        <img src="assets/images/img/insta.png" alt="" />
      </a>

      <a href="" class="text-white me-4">
        <img src="assets/images/img/tw.png" alt="" />
      </a>

      <a href="" class="text-white me-4">
        <img src="assets/images/img/tik.png" alt="" />
      </a>

      <a href="" class="text-white me-4">
        <img src="assets/images/img/you.png" alt="" />
      </a>
    </section>
    <!-- Section: Social -->

    <div class="row d-flex justify-content-center">
      <div class="col-lg-8">
        <h2>¡Tu confianza nuestro compromiso!</h2>
      </div>
      <a href="" style="color: white">Política de tratamiento de datos</a>
    </div>
  </div>
  <!-- Grid container -->
</footer>
